
jdk_tar_files/jdk-10.0.1_linux-x64_bin.tar.gz
jdk_tar_files/jdk-14.0.2_linux-x64_bin.tar.gz
jdk_tar_files/jdk-21_linux-x64_bin.tar.gz
maven_tar_files/apache-maven-3.8.6-bin.tar.gz
maven_tar_files/apache-maven-3.9.2-bin.tar.gz
