[submodule "MAVGCL"]
	path = MAVGCL
	url = git@github.com:MarceloJordao01/MAVGCL.git
[submodule "mavutils"]
	path = mavutils
	url = git@github.com:MarceloJordao01/mavutils.git
[submodule "MAVBase"]
	path = MAVBase
	url = git@github.com:MarceloJordao01/MAVBase.git

